@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #27ba9b
    ),
    'success': (
      'base': #1dc779
    ),
    'warning': (
      'base': #ffb302
    ),
    'danger': (
      'base': #e26237
    ),
    'error':
    (
      'base': #cf4444
    )
  )
)
